# Chula rl library
chula_rl/

# RL plot
plot.png

# VSCode
__pycache__/
.vscode/

# Text generation stuff
text_generation/data/
text_generation/weights
text_generation/images.npy
text_generation/train_loss

# Cached image features
text_generation/image_features.pickle 

# Plotted graph
text_generation/*.png
text_generation/checkpoint/

# VisualCheXbert repo
text_generation/VisualCheXbert/

# Results CSV files
text_generation/*.csv